* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: first baseline;

}

.copyright {
    color: aliceblue;
}