* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    height: calc(100vh - 650px);
    width: 100vw;
    max-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

footer>div{
    font-family: "sans-serif";
    margin-top: 0.25rem;
}

footer>div>b{
    font-family: "sans-serif";
}

.copyright {
    color: aliceblue;
}