* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    width: 100vw;
    height: 50px;
    background-color: #292929;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.botname {
    display: flex;
    align-items: center;
    color: goldenrod;
}

a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
}

.header_components {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;

}

.link-container {
    height: 30px;
    width: 20%;
    background-color: #292929;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link-container:hover {
    border: 2px solid white;
}