*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.advanceSection{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cffffd;
    
}
.advanceInputfield{
    height: 70%;
    width: 50%;
    border:2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #b1f3f3;
    box-shadow: 1px 1px 7px black;
}
.input{    
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Enterinfo{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #15babf;
    border-radius:3px;
    font-size: 1rem;
}
.Enterinfo:hover {
    background-color: #adcc24; 
}